
#work-area {
    margin-top:80px;
    margin-left:8px;
}

#main {
    margin-left:8px;
}

#go {
    margin-top:40px;
}


#info {
    margin-left:20px;
    display:None;
    width:470px;
}


#footer {
    margin-top:20px;
    margin-left:20px;
    margin-bottom:20px;
}


#buttons {
    width:600px;
}


#song-table {
    font-size:18px;
    margin-top: 20px;
    width:600px;
}

#song-table TR {
    cursor:pointer;
}

.char {
    80px;
}

#message {
    margin-left: 20px;
}

#genre-container {
    margin-left: 20px;
}

#results {
    margin-top:40px;
}

