#all {
    background-color:#d7e6ec;
}

#button-panel {
    margin-bottom:32px;
}
#gallery {
    display:none;
}

#about {
    display:none;
}

#save {
    position:relative;
    display:none;
    top: -3px;
}


#main {
}

.gname {
    text-transform:capitalize;
}

.gn {
    text-transform:capitalize;
}

#today {
    font-size:22px;
}

#spy {
    float:left;
}

.list-container ul li {
    display: inline;
    margin-right:8px;
}

.list-container {
    margin-left:20px;
}

.adiv {
    width:294px;
    height:344px;
    background-size:100%;
    background-repeat:no-repeat;
    overflow:hidden;
    position:relative;
    background-color: #fff;
    margin-bottom:6px;
    padding:10px;
}

#go {
    position:relative;
    left: 6px;
    top: -3px;
}

#tweet-span {
    position:relative;
    top:1px;
    margin-right:20px;
    float:left;
}

.tadiv {
    display:inline-block;
    width:300px;
    height:344px;
    position:relative;
    background-color: #122;
    margin:3px;
}

.toadiv {
    display:inline-block;
    width:310px;
    height:364px;
    position:relative;
    color: #8FF;
    margin:3px;
}


.is-current {
    background-color:#CC3333;
    font-size:18px;
}

#list {
    margin-left:4px;
    text-align:center;
}

.adiv:hover {
    background-color:#339900;
}

#info {
    margin-left:0px;
}


.song-info {
    position:absolute;
    bottom: 4px;
    margin-left:6px;
    margin-right:6px;
    line-height:18px;
    font-size:14px;
    height:40px;
    overflow:hidden;
}

.playbutton {
    width:100px;
    position:absolute;
    top:100px;
    left:100px;
    opacity:.8;
}

#footer {
    margin-top:10px;
    margin-left:20px;
    margin-bottom:20px;
}



.album-label {
    overflow:hidden;
    height:18px;
    text-overflow:ellipsis;
    width:280px;
    white-space:nowrap;
}

.change {
    float:left;
}       

.bypass {
    float:right;
}       

#search {
    margin-top: 20px;
    margin-bottom: 20px;
}

.faq {
    margin-right:10px;
}

#frog-image {
    margin-right:15px;
    margin-top:5px;
    float:left;
    border-radius:15px;

}

#lz-graph {
    float:right;
    border-radius:15px;
    margin-left:10px;
}

#all-info {
}

h1 {
    color:#336600;
}

.jumbotron {
    padding-top:20px;
    text-align: center;
    /*background:rgba(255,255,255, .8);*/
    color:#336600;
}
  
.jumbotron h1 {
    font-size: 64px;
    line-height: 1;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

